<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QL_SHOPTHUCUNG1ConnectionString"
            connectionString="Data Source=LAPTOP-VS13VLD8;Initial Catalog=QL_SHOPTHUCUNG1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QL_SHOPTHUCUNG1ConnectionString1"
            connectionString="Data Source=DESKTOP-H370V7G;Initial Catalog=QL_SHOPTHUCUNG1;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>